<div class="d-flex justify-content-between align-items-center mb-5">
  <h1>Modifier une citation</h1>
  <a type="button" class="btn btn-dark" href="/api/citations">
    <i class="fa-solid fa-arrow-left"></i>
    <span>Retour</span>
  </a>
</div>
<form action="/api/citations/update/<%= citation[0]._id %>" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="content" placeholder="test" name="content" value="<%= citation[0].content %>">
        <label for="content">Citation</label>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="author" placeholder="toto" name="author" value="<%= citation[0].author %>">
        <label for="author">Auteur</label>
    </div>
    <div class="d-flex justify-content-end mt-5">
      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-pencil"></i>
        <span>Modifier</span>
      </button>
    </div>
</div>
</form>