<div class="d-flex justify-content-between align-items-center mb-5">
  <h1>Modifier une citation</h1>
  <a type="button" class="btn btn-dark" href="/">
    <i class="fa-solid fa-arrow-left"></i>
    <span>Retour</span>
  </a>
</div>

<form action="/api/citation/update/<%= citation[0]._id %>" method="POST" class="needs-validation" id="form_quote" novalidate>
  <div class="mb-3">
    <div class="form-floating">
      <input type="text" class="form-control" id="content" placeholder="Veuillez saisir la citation" name="content" value="<%= citation[0].content %>" required>
      <label for="content">Citation</label>
    </div>
    <div class="text-dark" id="content_string"><small>0/500 caractères</small></div>
  </div>
  <div class="mb-3">
    <div class="form-floating">
      <input type="text" class="form-control" id="author" placeholder="Veuillez saisir le nom de l'auteur" name="author" value="<%= citation[0].author %>" required>
      <label for="author">Auteur</label>
    </div>
    <div class="text-dark" id="author_string"><small>0/100 caractères</small></div>
  </div>
  
  <div class="d-flex justify-content-end mt-5">
    <button type="button" class="btn btn-success" id="submit_form_quote" disabled>
      <i class="fa-solid fa-pencil"></i>
      <span>Modifier</span>
    </button>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js" integrity="sha512-rMGGF4wg1R73ehtnxXBt5mbUfN9JUJwbk21KMlnLZDJh7BkPmeovBuddZCENJddHYYMkCh9hPFnPmS9sspki8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/static/js/index.js"></script>